<%- include('../layouts/header.ejs') %>

    <section class="section">
        <div class="container form">
            <div class="input-cont">
                <h1>LOGIN</h1>
                <form action="/auth/login" method="POST">
                    <% if(errMessage) { %>
                        <div class="error"><i class="fa fa-warning" style="margin-right: 10px;"></i>
                            <%= errMessage %>
                        </div>
                        <% } %>
                            <div class="input">
                                <h5>Username</h5>
                                <input type="text" name="username">
                            </div>
                            <div class="input">
                                <h5>Password</h5>
                                <input type="password" name="password">
                            </div>
                            <div class="input">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <input type="submit" value="Login">
                            </div>
                </form>
            </div>
        </div>
    </section>
    <%- include('../layouts/footer.ejs') %>