<%- include('../layouts/header.ejs') %>
    <section class="section" style="height: 100vh;text-align: center;">
        <div style="position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);">
            <h1 style="font-size: 4em;">404</h1>
            <h3>Requested Resource not Found!</h3>
        </div>
    </section>
    </body>

    </html>