<%- include('../layouts/header.ejs') %>

    <section class="tile">
        <div class="container">
            <h1 class="title">Games</h1>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="my-animals">
                <div class="body">
                    <div class="animal-box">
                        <h1>Quiz Game</h1>
                        <div>
                            <img src="/img/quiz-game.jpg" alt="Quiz Game Icon">
                        </div>
                        <div class="link" style="display: flex; justify-content: space-around;">
                            <a href="/quiz" class="btn">Play game</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('../layouts/footer.ejs') %>